body { 
    background-color: rgb(231, 199, 210);
}

#score{
    display: inline-block;
}
div {
    font-size: 25px;
    text-align: center;
}
#game {
    display: block;
    margin:0 auto;
    /* border-width: 4px;
    border-color: grey; */
}