body { 
    background-color: lavenderblush;
}
.board {
    width: 240px;
    height: 480px;
    background-color: rgba(199, 201, 204, 0.699);
    display: flex;
    flex-wrap: wrap;
}

.board div {
    width: 20px;
    height: 20px;
    background-color: rgb(206, 238, 253);

}
/* Style
Pieces - different colors, different shapes up to 7 pieces */